.bg-grey{
    background-color: $grey;
}
.sections{
    padding-top: 3rem;
    padding-bottom: 3rem;
    .sub__title{
        font-size: 13px;
        margin-bottom: 0;
        letter-spacing: 1px;
        font-family: $bodyLight;
    }
    h2.title{
        font-size: 3.5rem;
    }
}