$primaryColor: black;
$grey: #f1f1f1;
$red: #db214d;
$yellow: #edb500;
$containerWidth: 1280px;
$borderRadius: 6px;
$gutterSize: 15px;
$bodyRegular: "body-regular";
$bodyLight: "body-light";
$headingRegular: "heading-regular";