@import './fonts';
@import './variables';
@import './default';

body{
    min-height: 100vh;
}

/**header**/
header{
    position: fixed;
    top: 0;
    z-index: 120;
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
#hamburger {
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.25s linear;
    width: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    div,
    div:after,
    div:before {
        background-color: #fafafa;
        width: 30px;
        height: 3px;
        transition: all 0.15s linear;
    }
    div:before,
    div:after {
        content: "";
        position: absolute;
    }
    div:before {
        transform: translateY(-250%);
        width: 20px;
    }
    div:after {
        transform: translateY(250%);
    }
    &:hover{
        div:before{
            width: 30px;
            transition: width 0.2s ease-in-out;
        }
    }
    &.open div {
        background: transparent;
    }
    &.open div:before {
        transform: rotate(45deg);
        width: 30px;
    }
    &.open div:after {
        transform: rotate(-45deg);
    }
}

#overlay {
    position: fixed;
    width: 100%;
    min-height: 100%;
    background-color: #1a1a1a;
    z-index: 100;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.menu {
        transform: translateY(0%);
    }
    a {
        text-decoration: none;
        color: #fafafa;
        font-size: 2rem;
        margin: 2%;
        opacity: 0.5;
        transition: opacity 0.2s linear;
        &:hover {
            opacity: 1;
        }
    }
}

/**home**/
.home{
    #landing{
        min-height: 100vh;
        background-color: black;
        position: relative;
        overflow: hidden;
        .landing__cover{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            z-index: 10;
            transition: opacity 0.2s ease-in-out;
            &.video-active{
                opacity: 0.7;
            }
        }
        .landing__content{
            position: relative;
            z-index: 20;
            left: 0;
            right: 0;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            color: white;
            padding: 1.5rem 3rem;
            .main-menu{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 1rem 2rem;
                li{
                    transition: opacity 0.2s ease-in-out;
                    a{
                        font-family: $abril;
                        font-size: 3rem;
                        color: white;
                        text-transform: uppercase;
                        line-height: 1;
                        padding: 5px 10px;
                        display: inline-block;
                    }
                    &.dull{
                        opacity: .5;
                    }
                }
            }
            .info{
                max-width: 600px;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        #landing{
            .landing__content{
                .main-menu{
                    padding: 1rem 0;
                    li{
                        a{
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}